.spacing{
    margin-left: 20px;
    margin-right: 20px;
    
}

#title {
    font-size: 50px;
    background-color: transparent;
    text-align: center; 
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 90px 0px 50px 0px;
}

.font {
    font-family: "Open Sans", sans-serif;
}

/* Style for the upper div */
.upperDiv {
    margin:auto;
    width: fit-content;
    max-width: 1000px;
    font-family:  'arial';
    font-size: 18px;
    text-align: left;
    padding: 0px 20px 40px 20px;
}

.bottomDiv {
    margin:auto;
    width: fit-content;
    font-family: 'Inter', sans-serif;
    line-height: 1.2;
    font-size: 16px;
    color: #6c757d;
    text-align: center;
    padding: 0px 20px 40px 20px;
}

/*button*/
.open-sidebar{ 
    padding: 10px 30px;
    margin-bottom: 20px;
    background-color: #007bff;
    color:white;
    font-size: 20px;
    border: none;
    margin-left: 50px;
    border-radius: 5px;
    cursor: pointer;
}

/*sidebar*/
.siderbar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 0;
    padding-left: 20px;
    margin-left: 0;
    height: 100vh;
    z-index: 2;
    width: 280px;
    transform: translate(-320px);
    box-shadow: rgb(65, 65, 65) 0px 0px 20px 0px;
    
    transition: transform 0.5s;
}

.siderbar ul{
    
    margin-top: 20px;
    list-style: none;
    padding-left: 0px;
    font-size: 1.3rem;

}

.siderbar ul li{
    text-align: left;
    color:rgb(0, 0, 0);
    font-size: 16px;
    width: 90%;
    margin: 10px 12px 10px 12px;
    border-radius: 5px;
    padding: 10px;
    
    background:rgba(211, 211, 211, 0.158);

}


.close-sidebar{
    color:rgb(16, 33, 87);
    cursor: pointer;
    text-align: end;
    font-size: 30px;
    padding-right: 15px;

}


.sidebar-body ul li{
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 5px 0px;
    border-radius: 5px;
    background:rgba(211, 211, 211, 0.158);
}

.sidebar-title{
    font-size: 20px;
    padding-left: 30px;
    font-weight: bold;
    color : rgb(90, 90, 90);
}
.btn{
    font-size: 18px;
}

li{
    width: 100%;
    list-style: none;
    word-wrap: break-word;
    display: block;
    color: rgb(90, 90, 90);
}
ul{
    padding: 0px 20px 0px 20px;
    display: block;
}


/* Style for iframe */
#contentFrame {
    width: 100%;
    height: 100%;
    border: none;
    min-height: 80vh;
    
}


/* Style for table */
table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    font-family: Arial;
}
th, td {
    border: none;
}

.separator{
    border-top: 1px solid lightgray;
    padding-bottom: 20px;
}



.no-border{
    border: none;
}

.card{
    border: none;
}


.text-spacing{
    margin: 0px 0px 0px 6px;
}

.unshow{
    display: none !important;
}


#landing-image{
    font-size: 16px !important;
    text-align: center !important;
    background-color:white;
    width: 100%;
    border: none;
    height: auto;
    max-width: 700px;
}
#landing-image-figcaption{
    font-size: 12px;
    text-align: right !important;
    padding-right: 8px;
    font-style: italic;
    width: 100%;
    color:rgb(71, 71, 71);
    border: none;
    max-width: 700px;
}

#landing-image-container{
    height: auto;
}


#logo{
    position: absolute;
    cursor: pointer;
    top:0;
}
#logo-image{
    
    width: 16%;
    height: auto;
    top:0;
    margin: 15px 0px 0px 30px;
    
}

